<nav class="navbar navbar-dark bg-dark">
	<a class="navbar-brand" href="/about">Mozer</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarContent" aria-controls="navbarContent"
		aria-expanded="true" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="collapse navbar-collapse" id="navbarContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
				<li class="nav-item"><a class="nav-link" href="/about">About</a></li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<button type="button" data-toggle="modal"
					data-target="#registerModal" class="btn btn-outline-dark btn-sm">Register</button>
			</form>
		</div>
	</nav>
</nav>